* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}

.wrapper {
    min-height: 100%;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    background: rgba(242, 206, 218, 0.3);
    ;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;

}

.logo {
    margin-top: 0;
    width: 100px;
    height: 100px;
}

.logo__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav__list {
    display: flex;


}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    margin-right: 28px;
    color: rgba(255, 255, 255, 0.7);

}

.btn {
    color: #FFF;
    cursor: pointer;
    border: none;
    padding: 15px 36px 15px 36px;
    border-radius: 5px;
    background-color: #F6762C;
}

.gg {
    color: deeppink;
}

.content {
    padding-top: 186px;
    max-width: 49%;
}

.content__main {}

.content__headline {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    color: #312F30;
    margin-left: 0;
}

.tytle {
    Font-size: 57.33px;
    font-weight: 500;
    line-height: 1.18;
    margin-bottom: 37px;
    color: #312F30;
    margin-left: 0;
}

.content__desc {
    margin-top: ;
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #312F30;
}


.food {
    padding: 115px 0px 102px;
}

.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: 23%;
}

.dish {
    overflow: hidden;
    border-radius: 10px;

}

.dish__img-wrap {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.dish__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dish__desc {
    padding: 28px 35px 30px;
    text-align: center;
}

.dish__tytle {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
}

.dish__text {
    line-height: 1.15;
}

.paragraph {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.7);
}

.order {
    background: #312F30;
    padding: 73px 0px;
}

.order__container {
    display: flex;
    align-items: center;
}

.order__imd-wrap {
    height: 456px;
    display: flex;
    align-items: center;
}

.order__colomn {
    width: 50%;
}

.order__img {}

.order__desc {}

.call-to-action {}

.order__call-to-action {
    max-width: 371px;
    padding-left: 18.6%;
}

.call-to-action__tytle {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.18;
}

.order__call-to-action-tytle {
    font-size: 44px;
    margin-bottom: 24px;
}

.call-to-action__text {
    margin-bottom: 13px;
}

.paragraph {}

.price {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 11px;
}

.price-new--size--big {
    font-size: 20px;
}

.price__new {
    color: rgba(246, 118, 44, 1);
}

.price__old {
    text-decoration: line-through;
    color: rgba(246, 118, 44, 0.7);
}